#home:hover
{
    text-decoration: underline;
}

main
{
    margin: .5rem;
    padding: 1rem;
}

p
{
    margin-bottom: 6px;
}

h2
{
    margin-bottom: 1.5rem;
}

ul
{
    list-style: none;
    width: 800px;
}

.rotated
{
    transition: transform 0.5s ease;
    transform: rotate(-90deg);
}
